<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {
  font-family: "Raleway", sans-serif
}
body{
  background-color:black;

}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/abc.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>

<body >
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">

<form method="post" action="/generate">
  Threshold(min no of unattended deliveries:)<br>
	<input type="number" name="threshold">
  <br><br>
  How many customers??<br>
  <input type="number" name="count">
  <br><br>
   The last date upto which coupon provided??<br>
  <input type="date" name="date">
  <br><br>
  Choose a coupon type from 1,2,3
  <br>Type1(discount of 5%)<br>
  Type2(discount of 10%)<br>
  Type3(discount of 15%)<br>
  <input type="number" name="type">
  <br><br>
  Select expiry date of coupon??<br>
  <input type="date" name="expiry">
  <br><br>
  <button type="submit">Generate and send coupon codes to all!!</button>
</form>

  </div>
  
 

</body>
</html>

</body>
</html>
